.dashboardPage {
  display: flex;
  height: 100vh;

  .dashboardBody {
    flex: 1;
    margin-top: 72px;
    overflow-y: scroll;
    background-color: var(--background-gray);

    .dashboardMain {
      display: flex;
      flex-direction: column;
      margin: 26px 38px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .dashboardMain {
    margin: 26px auto !important;
    width: 1024px;
  }
}

@media only screen and (min-width: 1700px) {
  .dashboardMain {
    width: 1180px;
  }
}
