.diaryContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  .navbarSection {
    display: flex;
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    margin: 72px 0 38px 38px;
    padding-right: 38px;
    width: 80%;
    overflow: auto;
    .collapse {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-top: 20px;
      gap: 8px;
      color: var(--primary-purple);
      padding-bottom: 16px;
      border-bottom: 1px solid var(--border-gray);
      cursor: pointer;
      .arrow {
        width: 16px;
        height: 16px;
        transition: transform 0.3s ease;
      }
      &.collapsed .arrow {
        transform: rotate(180deg);
      }
    }
    .inputSec,
    .btnSec {
      display: flex;
      gap: 12px;
      animation: zoom 0.5s;
      @keyframes zoom {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 100;
        }
      }
      .btn {
        width: 200px;
        height: 42px;
      }
      &.collapsed {
        max-height: 0;
        margin: 0;
        padding: 0;
        display: none;
      }
    }
    .inputSec {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 18px 24px;
      margin: 20px 0 30px 0;
    }
    .dailySec {
      display: flex;
      gap: 12px;
      margin-top: 32px;
      .dailyDiagram {
        width: 100%;
        height: auto;
        border: 1px solid var(--border-gray);
        border-radius: 4px;
      }
      .listSec {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}
