// 相對單位
.dashBoardContainer {
  border: 0.21vw solid red; /* 約 3px */
  padding: 0.14vw; /* 約 2px */

  .chartSection {
    display: flex;

    .leftChart {
      .chart {
        width: 22.08vw; /* 約 318px */
        height: 19.53vw; /* 約 256px */
        top: 1.56vw; /* 約 22.48vw * (1024 / 1440) */
        left: 1.82vw; /* 約 26.25vw * (1024 / 1440) */
        margin: 0.28vw; /* 約 4px */
        border-radius: 0.28vw; /* 約 4px */
        border: 0.07vw; /* 約 1px */
        background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
          linear-gradient(0deg, #ffffff, #ffffff);
      }
    }

    .rightChart {
      width: 47.92vw; /* 約 690px */
      height: 39.3vw; /* 約 528px */
      top: 1.56vw; /* 約 22.48vw * (1024 / 1440) */
      left: 1.82vw; /* 約 26.25vw * (1024 / 1440) */
      margin: 0.28vw; /* 約 4px */
      border-radius: 0.28vw; /* 約 4px */
      border: 0.07vw; /* 約 1px */
      background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
        linear-gradient(0deg, #ffffff, #ffffff);
    }
  }
}
